
body {
  height:100%;
}
.container {
  width:100%;
}

.navbar {
  margin-bottom:0px;
  background-color: #f8f8f8;
border-color: #e7e7e7;
}

.sidebar {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border-right:1px solid #e7e7e7;
  height:100%;
  position:absolute;
  width:200px;
}

.sidebar-item {
  width:100%;
  border-radius:0px;
}
form.edit-person {
  padding:10px;
}


/* d3 */

  svg text.icon {
     font-family: FontAwesome;
     font-size:60px;
  }

  .person-avatar {
    cursor: pointer;
  }

  .person-avatar rect:hover {
    fill:#3765A4;
  }
  .person-avatar rect:active {
    fill:#2B4782;
  }
  .person-avatar rect {
    stroke: #B4843C;
    fill:#3E77BB;
    color:white;
  }

  .person-avatar circle {
	  fill: #fff;
	  stroke: steelblue;
	  stroke-width: 3px;
	}

	.person-avatar text {
    font: 12px sans-serif;
    fill:white;
  }

  .person-avatar text.title {
    font:10px sans-serif;
    fill:white;
  }

	.link {
	  fill: none;
	  stroke: #ccc;
	  stroke-width: 2px;
	}

  .btn.delete {
    width:100%;
  }

  .form-group.save-cancel-group .btn {
    width:48%;
  }
